 <%
           // PROCESSED INCIDENTS
           else if(status_maker.equalsIgnoreCase("Processed"))
           {
                if(username_maker.equalsIgnoreCase("ALL") && cat_maker.equalsIgnoreCase("ALL"))
                {
                    sql="select * from incident_reg where status='Processed' ";
                }
                else if(username_maker.equalsIgnoreCase("ALL") && (!cat_maker.equalsIgnoreCase("ALL")))
                {
                    sql="select * from incident_reg where  category='"+cat_maker+"' AND status='Processed' ";
                }
                else if(!(username_maker.equalsIgnoreCase("ALL")) && (cat_maker.equalsIgnoreCase("ALL")))
                {
                    sql="select * from incident_reg where  username='"+username_maker+"' AND status='Processed' ";
                }
                else if(!(username_maker.equalsIgnoreCase("ALL")) && (!cat_maker.equalsIgnoreCase("ALL")))
                {
                    sql="select * from incident_reg where  username='"+username_maker+"' AND category='"+cat_maker+"' AND status='Processed' ";
                }
                ResultSet rs=st.executeQuery(sql);
     %>
                <CENTER><h2> PROCESSED INCIDENTS OF MAKERS    </h2></CENTER>
                <center>
                <table border="1px">
                <th width="80" height="25">S.NO</th>  
                <th width="200" height="25">ERROR </th>
                <th width="150" height="25">CATEGORY </th>
                <th width="130" height="25">USERNAME</th>
                <th width="350" height="25">DESCRIPTION</th>
                <th width="100" height="25">URL</th>
                <th width="50" height="25">DATE</th>
                <th width="50" height="25">TIME</th>
                <th width="150" height="25">STATUS</th>
    <%
                while(rs.next())
                {
                    i++;
                    String a7=rs.getString(1); // primary_key
                    String a1=rs.getString(3);// error
                    String a2=rs.getString(4);// des
                    String a3=rs.getString(5);// date
                    String a4=rs.getString(6);// time
                    String a5=rs.getString(7);// url
                    String a6=rs.getString(2);// username
                    String a9=rs.getString(9);  // category
    %>
           
               <tr>
                 <td width="10" height="25"><center><%out.println(i); %></center></td> 
                 <td width="100" height="25"><%out.println(a1); %></td>
                 <td width="100" height="25"><%out.println(a9); %></td>
                 <td width="100" height="25"><center><%out.println(a6); %></center></td>
                 <td width="150" height="25"><%out.println(a2); %></td>
                 <td width="150" height="25"><center><%out.println(a5); %></center></td>
                 <td width="150" height="25"><center><%out.println(a3); %></center></td>
                 <td width="150" height="25"> <center><%out.println(a4); %></center></td>
                 <td width="150" height="25"> <center><%out.println("Processed"); %></center></td>
              </tr>
           
    <%
              }  // while close
    %> 
              </table>
              </center>
    <% 
              }  // else if cloase
    %>
   
    <%     
      // All STATUS 
        else if(status_maker.equalsIgnoreCase("ALL"))
        {
           if(username_maker.equalsIgnoreCase("ALL") && cat_maker.equalsIgnoreCase("ALL"))
           {
               sql="select * from incident_reg where status='Under Process' ";
           }
           else if(username_maker.equalsIgnoreCase("ALL") && (!cat_maker.equalsIgnoreCase("ALL")))
           {
                sql="select * from incident_reg where  category='"+cat_maker+"' AND status='Under Process' ";
           }
           else if(!(username_maker.equalsIgnoreCase("ALL")) && (cat_maker.equalsIgnoreCase("ALL")))
           {
                sql="select * from incident_reg where  username='"+username_maker+"' AND status='Under Process' ";
           }
           else if(!(username_maker.equalsIgnoreCase("ALL")) && (!cat_maker.equalsIgnoreCase("ALL")))
           {
                sql="select * from incident_reg where  username='"+username_maker+"' AND category='"+cat_maker+"' AND status='Under Process' ";
           }
           ResultSet rs=st.executeQuery(sql);
   %>
           <CENTER><h2> UNDER PROCESS INCIDENTS OF MAKERS    </h2></CENTER>
           <center>
           <table border="1px">
             <th width="80" height="25">S.NO</th>  
             <th width="200" height="25">ERROR </th>
             <th width="150" height="25">CATEGORY </th>
             <th width="130" height="25">USERNAME</th>
             <th width="350" height="25">DESCRIPTION</th>
             <th width="100" height="25">URL</th>
             <th width="50" height="25">DATE</th>
             <th width="50" height="25">TIME</th>
             <th width="150" height="25">STATUS</th>
             <th width="150" height="25">UPDATE</th>
   <%
            while(rs.next())
            {
               i++;
               String a7=rs.getString(1); // primary_key
               String a1=rs.getString(3);// error
               String a2=rs.getString(4);// des
               String a3=rs.getString(5);// date
               String a4=rs.getString(6);// time
               String a5=rs.getString(7);// url
               String a6=rs.getString(2);
               String a9=rs.getString(9);  // category
               
   %>
             <form  action="incident_reg_approver_dbsave.jsp" method="post" >
              <tr>
                 <td width="10" height="25"><center><%out.println(i); %></center></td> 
                 <td width="100" height="25"><%out.println(a1); %></td>
                 <td width="100" height="25"><%out.println(a9); %></td>
                 <td width="100" height="25"><center><%out.println(a6); %></center></td>
                 <td width="150" height="25"><%out.println(a2); %></td>
                 <td width="150" height="25"><center><%out.println(a5); %></center></td>
                 <td width="150" height="25"><center><%out.println(a3); %></center></td>
                 <td width="150" height="25"> <center><%out.println(a4); %></center></td>
                 <td width="150" height="25"><input type="radio" value="Under Process" required="" name="app_status">Under Process <br><input type="radio" value="Processed" required="" name="app_status">Processed</td>
                 <td><center><input id="round" type="submit" value="update<%=a7%>" name="update_submit"/></center></td>
              </tr>
            </form>
   <% 
            }  // while close
   %>
            </table>
            </center>
            <br><br>
      
    
    <% 
           if(username_maker.equalsIgnoreCase("ALL") && cat_maker.equalsIgnoreCase("ALL"))
           {
               sql="select * from incident_reg where status='Processed' ";
           }
           else if(username_maker.equalsIgnoreCase("ALL") && (!cat_maker.equalsIgnoreCase("ALL")))
           {
                sql="select * from incident_reg where  category='"+cat_maker+"' AND status='Processed' ";
           }
           else if(!(username_maker.equalsIgnoreCase("ALL")) && (cat_maker.equalsIgnoreCase("ALL")))
           {
                sql="select * from incident_reg where  username='"+username_maker+"' AND status='Processed' ";
           }
           else if(!(username_maker.equalsIgnoreCase("ALL")) && (!cat_maker.equalsIgnoreCase("ALL")))
           {
                sql="select * from incident_reg where  username='"+username_maker+"' AND category='"+cat_maker+"' AND status='Processed' ";
           }
           
           ResultSet rs1=st.executeQuery(sql);
           %>
           <CENTER><h2> PROCESSED INCIDENTS OF MAKERS    </h2></CENTER>
           <center>
           <table border="1px">
             <th width="80" height="25">S.NO</th>  
             <th width="200" height="25">ERROR </th>
             <th width="150" height="25">CATEGORY </th>
             <th width="130" height="25">USERNAME</th>
             <th width="350" height="25">DESCRIPTION</th>
             <th width="100" height="25">URL</th>
             <th width="50" height="25">DATE</th>
             <th width="50" height="25">TIME</th>
             <th width="150" height="25">STATUS</th>
    <%
           while(rs1.next())
           {
               i++;
               String a7=rs1.getString(1); // primary_key
               String a1=rs1.getString(3);// error
               String a2=rs1.getString(4);// des
               String a3=rs1.getString(5);// date
               String a4=rs1.getString(6);// time
               String a5=rs1.getString(7);// url
               String a6=rs1.getString(2);// username
               String a9=rs1.getString(9);  // category
               
    %>
           
              <tr>
                 <td width="10" height="25"><center><%out.println(i); %></center></td> 
                 <td width="100" height="25"><%out.println(a1); %></td>
                 <td width="100" height="25"><%out.println(a9); %></td>
                 <td width="100" height="25"><center><%out.println(a6); %></center></td>
                 <td width="150" height="25"><%out.println(a2); %></td>
                 <td width="150" height="25"><center><%out.println(a5); %></center></td>
                 <td width="150" height="25"><center><%out.println(a3); %></center></td>
                 <td width="150" height="25"> <center><%out.println(a4); %></center></td>
                 <td width="150" height="25"> <center><%out.println("Processed"); %></center></td>
              </tr>
           
    <%
           }   // while close ALL
    %> 
              </table>
              </center>
    <%     
           }    // else if close
    %> 
            